@import '../utils/variables';

.MyOrder {
   position: absolute;
   top: 7vh;
   right: 0;
   min-width: 320px;
   width: 350px;
   background-color: $primary-color;
   display: grid;
   padding: 10px;
   place-items: center;
   border-radius: 8px;
}

.title-header {
   font-size: $text-lg;
   font-weight: bold;
}

.my-order-container {
   width: 300px;
   display: grid;
   grid-template-rows: auto 1fr auto;
   gap: 12px;
}

.my-order__arrow {
   transform: rotate(180deg);
   cursor: pointer;
}

.my-order-container h1 {
   font-size: $text-lg;
   margin-bottom: 32px;
}

.my-order__content {
   display: flex;
   flex-direction: column;
   max-height: 485px;
   overflow-y: scroll;

   &::-webkit-scrollbar {
      width: 8px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      border-radius: 4px;
   }
}

.my-order__total {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 16px;
   background-color: $text-input-color;
   border-radius: 8px;
   height: 40px;
   padding: 0 12px;
   margin-bottom: 24px;
   align-items: center;
   font-size: $text-md;
   font-weight: bold;

}