@import '../utils/variables';

.ProductDetail {
   width: 360px;
   position: absolute;
   right: 0;
   background-color: $primary-color;
}

.close-background {
   position: absolute;
   background-color: $primary-color;
   top: 12px;
   left: 8px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   padding: 4px;
}

.close-background img {
   position: absolute;
   top: calc(50% - 7px);
   right: calc(50% - 7px);
}

.close-background:hover {
   cursor: pointer;
}

.ProductDetail>img:nth-child(2) {
   width: 100%;
   height: 360px;
   object-fit: cover;
   border-radius: 0 0 16px 16px;
   margin-bottom: 24px;
}

@media (max-width: 640px) {
   .ProductDetail {
      width: 100%;
      height: 100vh;
   }
}