$primary-color: #ffffff;
$secondary-color: #acd9ac;
$text-input-color: #f7f7f7;
$details-color: #C7C7C7;
$darkness-details-color: #232830;
$text-color: #000000;

$text-sm: 1.4rem;
$text-md: 1.4rem;
$text-lg: 1.8rem;